 <div class="container mt-3">
  <div class="mb-3">
    <%= link_to "Create a list", new_list_path, class: 'btn-flat' %>
  </div>
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <div class="title-card">
          <%= link_to list.name ,  list_path(list) %>
        </div>
        <div class="btn-delete">
          <%= link_to "X", list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
      </div>
    <% end %>
  </div>
 </div>
